<html>
<head>
   <style>
       
   </style>
</head>
<body>
   <p>Hi {{name}},</p>
   <br>
   <p>{{siteName}} thanks you for joining. </p>
   <p>Please use the link below to verify your account.</p>
   <a href="https://{{link}}">Verify Account</a>
   <br>
   <p>The {{siteName}} Team.</p>
</body>
</html>