<html>
<head>
   <style>
       
   </style>
</head>
<body>
   <p>Hi {{name}},</p>
   <br>
   <p>Click the link below to reset your password.</p>
   <a href="https://{{link}}">Reset password</a>
   <br>
   <p>The {{siteName}} Team.</p>
</body>
</html>